#image-track {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 50%;
    top: 10%;
    cursor: grab;
    height: 300px;
    transform: translate(0%, 0%); 
    user-select: none;
    width: max-content;
    > .image {
        width: 240px;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-radius: 5px;
        overflow: hidden;
        height: 300px;
        cursor: pointer;
        border-radius: 5px;
        object-fit: cover;
        object-position: 100% center;
        &.no-cursor{
            pointer-events: none;
        }
        img{
            object-fit: cover;
            height: 300px;
            object-position: 100% center;
            pointer-events: none;
            width: 240px;
        }
    }
}
.cv1{
    background-color: #4158D0;
    background-image: linear-gradient(to right, #4158D0 0%, #C850C0 30%, #FFCC70 66%);
}
.cv2{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.cv3{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.cv4{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}
.cv5{
    background-image: linear-gradient( 358.3deg,  rgba(255,82,168,1) 12.9%, rgba(177,118,240,1) 134.3% );
}