.heading2{
    h2{
        // font-size: 150px;
        font-size: var(--heading2);
        -webkit-text-stroke: 1px rgba($color: #ffffff, $alpha: 0.13);
        -webkit-text-fill-color: transparent;
        text-align: center;
        // text-transform: capitalize;
        font-family: var(--thunder);
        pointer-events: none;
    }
    p {
        text-transform: uppercase;
        font-size: var(--f2xl);
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 3px;
        cursor: pointer;
        transform-origin: left center;
        // color: #1DBD9C;
        &.rubberBand{
            animation: rubberBandWhole 0.7s ease-in-out forwards;
            display: inline-block;
        }
        .rubberBand{
            display: inline-block;
            animation: rubberBand 0.9s ease-in-out forwards;
        }
        span{
            span{
                -webkit-background-clip: text !important;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                white-space: nowrap;
                background: linear-gradient(
                    to right,
                    var(--themeGreen),
                    rgb(105, 255, 160),
                    var(--themeGreen),
                );
                background-size: 200%;
                animation: background-pan 10s linear infinite;
                pointer-events: none;
            }
        }
    }
}
@for $i from 1 through 20 {
    .heading2 p > span:nth-child(#{$i}n) span {
        animation-delay: #{$i * 0.5}s;
    }
}
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
@keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    30%{
        transform: scale3d(1.25,.75,1);
    }
    40%{
        transform: scale3d(.75,1.25,1);
    }
    50%{
        transform: scale3d(1.15,0.85,1);
    }
    65%{
        transform: scale3d(0.95,1.05,1);
    }
    75%{
        transform: scale3d(1.05,0.95,1); 
    }
    100%{
        transform: scale3d(1,1,1); 
    }
}
@keyframes rubberBandWhole{
    0%{
        transform: scaleX(1) translate(-50%, -50%);
    }
    30%{
        transform: scale3d(1.25,.75,1) translate(-50%, -50%);
    }
    40%{
        transform: scale3d(.75,1.25,1) translate(-50%, -50%);
    }
    50%{
        transform: scale3d(1.15,0.85,1) translate(-50%, -50%);
    }
    65%{
        transform: scale3d(0.95,1.05,1) translate(-50%, -50%);
    }
    75%{
        transform: scale3d(1.05,0.95,1) translate(-50%, -50%);
    }
    to{
        transform: scaleX(1) translate(-50%, -50%);
    }
}