@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'thunder';
    src: url('assets/fonts/Thunder-BoldLC.ttf');
}
@font-face {
    font-family: 'pixel';
    src: url('assets/fonts/Pixeboy.ttf');
}
@font-face {
    font-family: 'signika';
    src: url('assets/fonts/Signika-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'signika';
    src: url('assets/fonts/Signika-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'signika';
    src: url('assets/fonts/Signika-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'signika';
    src: url('assets/fonts/Signika-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'signika';
    src: url('assets/fonts/Signika-SemiBold.ttf');
    font-weight: 600;
}
:root {
    --theme: #091922;
    --themeGreen: #1DBD9C;
    --themeDark: #181818;
    --themeOrange: #FD7246;
    --themePurple: #9177AB;
    /* --project1: #c5ffe4; */
    --project1: var(--themePurple);
    --project2: #005461;
    --project3: #6495ED;
    --project4: var(--themeGreen);
    --project5: #AFDDD5;
    --themeLight: rgba(255, 255, 255, 0.65);
    --thunder: 'thunder', Arial, Helvetica, sans-serif;
    --pixel: 'pixel', Arial, Helvetica, sans-serif;
    --signika: 'signika', 'Segoe UI', 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    --navbarHeight: 64px;
    --px: 30px;
    --f2xl: 30px;
    --fxl: 25px;
    --flg: 20px;
    --fm: 18px;
    --fh: 80px;
    --wp1: 400px;
    --hp1: 250px;
    --wp2: 300px;
    --hp2: 400px;
    --sh: calc(100vh - var(--navbarHeight));
    --about: #9EB8B7;

    font-family: var(--signika);
    font-size: 16px;
    font-weight: 400;
    /* color-scheme: light dark; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
*{
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, var(--theme) 0%, black 100%);
    color: var(--about);
}
section{
    background-color: var(--theme);
}
.min-sh{
    min-height: var(--sh);
}
.mainContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}
.px-base{
    padding-left: var(--px);
    padding-right: var(--px);
}
.thunder{
    font-family: var(--thunder);
}
.pixel{
    font-family: var(--pixel);
}
.flex1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
